/* Write your CSS code here */
.list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.left-container {
  display: flex;
  align-items: center;
}
.crypto-image {
  width: 10%;
  height: 10%;
  margin-right: 30px;
}
.crypto-name {
  font-family: 'Roboto';
  color: #ffffff;
  text-align: right;
}
.usd {
  margin-right: 30px;
}
